.live-other-domains {
  /* padding: 100px 100px; */
  padding: 0;
  margin: 0;
}

/* GRID */
.live-other-domains-grid {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  /* gap: 60px; */
}
.live-other-domains-header {
    padding:0 40px;
    display: flex;
    justify-content: space-between;
}

.live-other-domains-toggle{
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #8a2be2;
    cursor: pointer;
}

/* IMAGE */
.live-other-domain-image {
  position: relative;
}

.live-other-domain-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* INFO BLOCK */
.live-other-domain-info {
  position: absolute;
  bottom: 40px;
  left: 60px;
  right: 60px;
}


/* Title + Button on same row */
.live-other-domain-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.live-other-domain-top h3 {
  font-size: 32px;
  color: #ffffff;
}

/* Button right aligned */
.live-other-domain-btn {
  background: #fff;
  border: none;
  padding: 12px 30px;
  font-size: 14px;
  color: #8a2be2;
  cursor: pointer;
  border-radius: 6px;
}
.live-other-domain-btn:hover {
background-color: transparent;
border: 1px solid #ffffff;
color: #ffffff;
}

/* Underline */
.live-other-domain-underline {
  width: 80px;
  height: 4px;
  background: #ffffff;
  margin-top: 15px;
}

/* Expand content */
.live-other-domain-content {
  background: #f8f8f8;
  padding: 40px;
  animation: liveExpand 0.4s ease forwards;
}

@keyframes liveExpand {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
@media (max-width: 768px) {

  .live-other-domains {
    padding: 60px 20px;
  }

  .live-other-domains-grid {
    grid-template-columns: 1fr;
  }

  .live-other-domain-image img {
    height: 250px;
  }

  .live-other-domain-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}
