/* ================================================= */
/* ================= SECTION ======================== */
/* ================================================= */

section {
  width: 100%;
  padding: 0 95px;
}

/* ================================================= */
/* ================= HEADER ========================= */
/* ================================================= */

.job-header {
    display: grid;
    grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr 2fr;
    background: linear-gradient(90deg, #7c5cff, #9a7cff);
    color: white;
    padding: 25px 10px;
    border-radius: 14px 14px 0px 14px;
    margin-bottom: 8px;
    font-weight: 500;
}

.job-header-item {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 20px;
}

.header-icon {
  width: 45px;
  height: 35px;
}


.job-card {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr 2fr;
  align-items: center;

  background: #f6f6f8;
  padding: 22px 30px;
  border-radius: 14px;
  margin-bottom: 18px;

  transition: all 0.2s ease;
}

.job-card:hover {
  background: #f0f0f4;
}



.job-col {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  color: #2b2b2b;
}

/* ===== Title Column ===== */

.jobpost-title h3 {
  margin: 0;
  font-size: 19px;
  font-weight: 500;
}

.jobpost-title p {
  margin: 4px 0 0;
  font-size: 15px;
  color: #7a7a7a;
}

/* ===== Icons ===== */

.job-icon {
 display: none;
}



.job-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
}



.job-apply-btn {
  border: 1px solid #2563eb;
  color: #2563eb;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  background: white;
  transition: all 0.2s ease;
}

.job-apply-btn:hover {
  background: #2563eb;
  color: white;
}



.job-details-btn {
  position: relative;
  display: inline-block;

  color: #7c5cff;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  font-family: "ClashDisplay", Sans-serif;
}

/* Underline */

.job-details-btn::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: -6px;

  width: 20%;              /* default small width */
  height: 2px;             /* underline thickness */

  background: #7c5cff;

  transition: width 0.3s ease;
}

/* Hover */

.job-details-btn:hover {
  color: #5a3df0;
}

.job-details-btn:hover::after {
  width: 60%;             /* expands on hover */
}


.show-all-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.show-all-btn {
  border: 1px solid #2563eb;
  background: white;
  color: #2563eb;

  padding: 10px 36px;
  border-radius: 6px;

  font-size: 18px;
  cursor: pointer;

  transition: all 0.25s ease;
}

.show-all-btn:hover {
  background: #2563eb;
  color: white;
}
@media (max-width: 768px) {

  /* Hide header on mobile */
  .job-header {
    display: none;
  }

  /* Card Layout */
  .job-card {
    display: block;
    padding: 22px 20px;
  }

  .job-col {
    margin-bottom: 14px;
  }

  .jobpost-title h3 {
    font-size: 17px;
  }

  .jobpost-title p {
    font-size: 12px;
  }

  /* Actions stack */
  .job-actions {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    margin-top: 10px;
  }

  .job-apply-btn {
    width: 140px;
    text-align: center;
  }
  .job-icon{
     color: #7c5cff;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  }

}
