/* ================= NAVBAR ================= */

.live-navbar {
  height: 110px;
  background: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  position: fixed;   
  top: 0;            
  left: 0;         
  width: 100%;       
  z-index: 1100;     
}


.live-navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.live-logo {
  height: 60px;
}


/* Desktop Nav */
.live-navbar-center {
  display: flex;
  gap: 40px;
}

.live-navbar-center a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}
.live-navbar-center a:hover {
  color: #6b5bd2;   
}

.live-navbar-right {
  display: flex;
  gap: 20px;
}

.live-talk-btn {
  padding: 10px 25px;
  border: 1px solid #2563eb;
  background: transparent;
  color: #2563eb;
  border-radius: 7px;
  cursor: pointer;
}
.live-talk-btn:hover{
  color: black;
  border: 1px solid black;
}

.live-find-btn {
  padding: 10px 25px;
  background: linear-gradient(to right, #6b5bd2, #8a6df1);
  border: none;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
}
.live-find-btn:hover{
   background: linear-gradient(to right, #6359a4, #c0b3ef);
}

/* Hamburger */
.live-menu-icon {
  cursor: pointer;
}

/* ================= OVERLAY ================= */

.live-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 900;
}

/* ================= MENU ================= */

.live-menu {
  position: fixed;
  background: #f4f4f4;
  z-index: 950;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 0;
  transition: 0.4s ease;
}

/* Tablet → slide from left */
.live-menu.tablet {
  top: 90px;          
  left: -320px;
  width: 300px;
  height: calc(100vh - 90px); 
  background: #f4f4f4;

}

.live-menu.tablet.open {
  left: 0;
}


/* Mobile → drop from top */
.live-menu.mobile {
  top: -100%;
  left: 0;
  width: 100%;
}

.live-menu.mobile.open {
  top: 90px;
}

/* Links */
.live-menu a {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #222;
  font-size: 18px;
}

.mobile-btn {
  margin-top: 30px;
  width: 100%;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 1024px) {
  .live-navbar-center,
  .live-navbar-right {
    display: none;
  }

  .live-navbar {
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .live-navbar {
    height: 80px;
    padding: 0 20px;
  }

  .live-logo,
  .live-women-logo {
    height: 40px;
  }

  .live-divider {
    height: 40px;
  }

  .live-menu.mobile.open {
    top: 80px;
  }
}
